#a-logo {
  width: 40px;
  height: 40px;
  background-size: 40px;
  margin-right: 10px;
  background-image: url(/logo_black_512.png);
}


/* common */

button.btn-right {
  float:right;
}

button.btn-margin-left-10 {
  margin-left: 10px;
}


/* main container */

main.container {
  margin-left: 100px;
}

main.container > div.filepath {
  float: left;
  width: 60%;
  margin-bottom: 100px;
}

main.container > div.div_first {
  margin-top: 10px;
}

main.container > div.json-edit {
  width:40%;
  height:90%;
  position:fixed;
  left:55%;
}

#btn-close-json-edit {
  position: absolute;
  top: 20px;
  right: 32px;
}


/* card */

div.card {
  margin-top: 10px;
}

div.card .card-header {
  padding: .45rem .45rem;
}

button.btn-card-header {
  color: black;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
  text-align: left;
}

div.card .table {
  margin-bottom: 0;
}

tr td a.a-text-align {
  overflow: hidden;
  word-break: break-all;
}


/* json api page */

#jsoneditor {
  width:100%;
  height:90%;
  margin-top:20px;
  margin-bottom:10px;
}

#span_validate_result {
  width:100%;
  word-wrap:break-word;
  margin-top:10px;
}

button.btn-json {
  padding: 5px 10px;
  margin: 5px 0px;
}


/* scheme page */

button.btn-add-scheme {
  float: right;
  padding: 5px 10px;
  margin: 5px 0;
}

button.btn-scheme {
  float: right;
  padding: 5px 10px;
  margin: 5px 0;
}

button.btn-scheme-delete-margin-left {
  margin-left: 10px;
}

button.btn-tooltip {
  height: 16px;
  padding: 0px 5px;
  margin: 4px 5px 4px 0px;
  float: left;
  font-size: 10px;
}


/* apns page */

tr td div.div-token {
  padding-right: 10px;
  overflow: hidden;
  word-break: break-all;
}


/* mobile view */

@media ( max-width: 1024px ) {
  main.container {
    margin-left: 0;
  }

  #a-brand-title {
    display: none;
  }

  #div-list {
    width: 100%;
  }

  .mobile-display-none {
    display: none;
  }

  .btn-outline-dark:hover {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
  }
}


/* phone view */

@media ( max-width: 512px ) {
  .phone-header-div>form {
    position: absolute;
    top: 56px;
    left: 0px;
    margin: 0!important;
    width: 100%;
  }

  .phone-no-border-radius {
    border-radius: 0;
  }

  main.container > div.div_first {
    margin-top: 40px;
  }

  main.container > div.json-edit {
    width:40%;
    height:90%;
    position:fixed;
    left:55%;
    margin-top: 50px;
  }
}


/* small phone */

@media ( max-width: 350px ) {
  #a-logo {
    margin-right: 0;
  }

  .navbar {
    padding-left: 5px;
    padding-right: 5px;
  }

  .phone-header-div {
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
