<html><head>
		<meta charset="utf-8">
	</head>
	<body >
		<form name="reqKMCISForm" method="post" action="http://www.payco.com" target="_blank">
		</form>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
		$( document ).ready(function() {
   		console.log( "ready!" );
	 		document.reqKMCISForm.submit();
		});

    </script>
</body></html>
