<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,height=device-height">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    button {
      word-break: break-all;
    }
    </style>
  </head>
  <body style="background-color:gray;">
    <!-- <iframe id="ifrm_id" name="ifrm" src="http://www.payco.com"></iframe> -->

    <iframe id="iframe_link" name="iframe_link" src="/testWebView/list/innerIframe"></iframe>
</html>
