<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include ./common/commonCss.ejs %>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <% include ./common/analytics.ejs %>
  </head>
  <body <% if (darkmode) { %> class="darkmode" <% } %>>

    <header>
      <% include ./common/header.ejs %>
    </header>

    <main class="container" role="main">
      <%- cardHtml %>

      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">EDIT APNs</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                <label for="path">분류 :</label>
                <input type="text" class="form-control" name="path" required>
              </div>
              <div class="form-group">
                <label for="token">토큰 :</label>
                <input type="text" class="form-control" name="token" required>
              </div>

              <input type="radio" name="production" value="0" checked> 개발환경(sandbox) <input type="radio" name="production" value="1"> 제품환경(production)
              <br><br>
              <div id="jsoneditor" style="height: 300px;"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-modal-sendpush">SEND PUSH</button>
                <button type="button" class="btn btn-info btn-modal-save">SAVE</button>
              </div>
            </div>

          </div>
        </div>
      </div>


    </main>
    </body>

    <% include ./common/commonScript.ejs %>
    <script src="/javascripts/jsoneditor/dist/jsoneditor.min.js"></script>
    <script src="/javascripts/commonCard.js"></script>
    <script src="/javascripts/jsonEditor.js"></script>
    <script src="/javascripts/apns.js"></script>
</html>
