<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./common/commonCss.ejs %>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <% include ./common/analytics.ejs %>
  </head>
  <body>

    <header>
      <% include ./common/header.ejs %>
    </header>

    <main class="container" role="main">
      <%- cardHtml %>
    </main>
    </body>

    <% include ./common/commonScript.ejs %>
    <script src="/javascripts/jsoneditor/dist/jsoneditor.min.js"></script>
    <script src="/javascripts/commonCard.js"></script>
    <!-- <script src="/javascripts/jsonapi.js"></script> -->
    <!-- <script src="/javascripts/apns.js"></script> -->
</html>
