<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include ./common/commonCss.ejs %>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/tooltip.css' />
    <% include ./common/analytics.ejs %>
  </head>
  <body <% if (darkmode) { %> class="darkmode" <% } %>>

    <header>
      <% include ./common/header.ejs %>
    </header>

    <main class="container" role="main">
      <%- cardHtml %>

      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">EDIT SCHEME</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form method="POST">
                <div class="form-group">
                  <label for="path">분류 :</label>
                  <span style="color: red;">*&nbsp;</span><input type="text" class="form-control" name="path" required>
                </div>
                <div class="form-group">
                  <label for="name">명칭 :</label>
                  <span style="color: red;">*&nbsp;</span><input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                  <label for="uri">URI :</label>
                  <span style="color: red;">*&nbsp;</span><input type="text" class="form-control" name="uri" required>
                </div>
                <div class="form-group">
                  <label for="desc">설명 :</label>
                  <textarea class="form-control" name="desc" rows="10"></textarea>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <div class="btn-group">
                <button class="btn btn-info btn-modal-save" type="button">SAVE</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <% include ./common/footer.ejs %>

    </body>

    <% include ./common/commonScript.ejs %>
    <script src="/javascripts/commonCard.js"></script>
    <script src="/javascripts/tooltip.js"></script>
    <script src="/javascripts/scheme.js"></script>
</html>
