<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include ./common/commonCss.ejs %>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/tooltip.css' />
    <% include ./common/analytics.ejs %>
  </head>
  <body>

    <header>
      <% include ./common/header.ejs %>
    </header>

    <main class="container" role="main">
      <%- cardHtml %>
    </main>
    </body>

    <% include ./common/commonScript.ejs %>
    <script src="/javascripts/commonCard.js"></script>
    <!-- <script src="/javascripts/scheme.js"></script> -->
</html>
