<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include ./common/commonCss.ejs %>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <% include ./common/analytics.ejs %>
  </head>
  <body <% if (darkmode) { %> class="darkmode" <% } %>>
  <header>
    <% include ./common/header.ejs %>
  </header>

  <main class="container" role="main">
    <div class="form-group" style="margin-top: 20px;">
      <label for="textarea_uri">URI :</label>
      <textarea id="textarea_uri" class="form-control" rows="5"></textarea>
    </div>
      <button id="encode_uri" class="btn btn-dark btn-sm">Encode</button>
      <button id="decode_uri" class="btn btn-dark btn-sm">Decode</button>
  </main>

  <% include ./common/footer.ejs %>

  </body>

  <% include ./common/commonScript.ejs %>
  <script type="text/javascript">
    requirejs(['uriencodedecode'], function (APP) {
      APP();
    });
  </script>

</html>
