<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../common/commonCss.ejs %>
    <link rel='stylesheet' href='/stylesheets/old/styleIndex.css' />
    <% include ../common/analytics.ejs %>
  </head>
  <body>
  <header>
    <% include ./common/header.ejs %>
  </header>

  <main class="container" role="main">
    <div class="form-group div_first">
      <label for="textarea_uri">URI :</label>
      <textarea id="textarea_uri" class="form-control" rows="5"></textarea>
    </div>
    <button onclick="encodeUri(event);" class="btn btn-dark btn-sm">Encode</button>
    <button onclick="decodeUri(event);" class="btn btn-dark btn-sm">Decode</button>
  </main>
  </body>

  <% include ./common/commonScript.ejs %>
  <script src="/javascripts/old/uriencodedecode.js"></script>
</html>
