
.tooltiptext {
  resize: none;
  width: 120%;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 100;
  left: 100%;
}

.tooltiptext-visible {
  visibility: hidden;
}

@media ( min-width: 1500px ) {
  .tooltip-area:hover .tooltiptext-visible {
    visibility: visible;
  }
}

@media ( max-width: 1500px ) {
  .tooltiptext {
    width: 100%;
    left: 0%;
    margin-top: 22px;
  }
}
