<footer>
  <ul>
    <li>Copyright © 2019 PAYCO APP Dev Team.  All rights reserved.</li>
    <li><img src="/logo_big.png" class="footer-logo"/></li>
    <li><a href="?view=old">이전 버전 UI 보기</a></li>
  </ul>
</footer>
