<footer>
  <ul>
    <li>Copyright © 2019 PAYCO APP Dev Team.  All rights reserved.</li>
    <li><div class="footer-logo"></div><span> by </span><a href="mailto:tigi@nhnpayco.com" style="text-decoration: none;">tigi</a></li>
    <li><a href="?view=old">이전 버전 UI 보기</a></li>
  </ul>
</footer>
